html,
body {
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
  max-width: 100%;
  //font-family: monospace;
  /*font-family: oxygen,sans-serif;*/
  /*border: 1px solid black;*/
}

img {
  height: auto;
}
pre {
  font-family: Consolas ,monospace;
  line-height: 1.2em;
  background: linear-gradient(180deg,#ccc 0,#ccc 1.2em,#eee 0);
  background-size: 2.4em 2.4em;
  background-origin: content-box;
  padding: 0 10px;
  text-align: justify;
}

