@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Oswald&family=Pushster&display=swap');
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #262626;
    padding-left: 15px;
    h1 {
        color: white;
        font-size: 3.9em;
        font-weight: 100;
        //font-family: 'Comforter Brush', cursive;
            //font-family: 'Oswald', sans-serif;
        font-family: 'Pushster', cursive;
        margin: 10px 10px;
        cursor: pointer;
        &:hover {
            color: #6D9F71;
        }
    }
    //.logo {
    //position: relative;
    //top: 7px;
    //left: 4px;
    //}
    a {
        color: yellowgreen;
        font-weight: 800;
        font-size: 1.2em;
        margin-left: 2.5rem;
        &:hover {
            color: white;
        }
    }
}

.container {
    border: 6px solid rgba(101,164,51,0.3);
    border-radius: 15px;
    margin: 1rem 5.5rem;
    h1, h2 {
        text-decoration: underline;
        text-align: center;
    }
    .me {
        display: flex;
        justify-content: center;
        img {
            border-radius: 50%;
        }
    }
    .contact {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        a {
            font-size: 2em;
            color: yellowgreen;
            padding: 4px;
        }
    }
    p {
        font-size: 1.2em;
        text-align: center;
    }
}

.title {
    text-align: center;
    text-decoration: underline;
}
.skills {
    //display: flex;
    //justify-content: space-around;
    //flex-wrap: wrap;
    padding: 10px;
    padding-left: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: max-content;
    width: 100vw;
}
.projects {
    margin: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3px;
    .each {
        text-align: center;
        margin: 2rem 3px;
        width: 30%;
        border: 1px solid #a5c882; 
        border-radius: 15px;
        //padding: 5px;

        p { font-size: .9em; font-family: monospace;}
        .git {
            font-size: 1.3em;
            color: black; 
        }
    }
}
